/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

html, body {
  height: 100%;
}

.loading-message {
  margin: 0 auto;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

shopping-list li {
  list-style-type: none;
  padding: 5px;
}

shopping-list li input {
  margin-right: 10px;
}

a.btn {
  text-decoration: none;
}

/* fixed height for fontawesome icons */
fa-fh {
  height: 1.25em;
}

button.icon-button, a.icon-button {
  width: 2.3rem;
  height: 2.3rem;
  padding: 0.375rem;
}

.inactive .item-name{
  color: #6c757d;
  font-style: italic;
}

/* hide the item being dragged */
.dndDraggingSource {
  display: none;
}

.dndPlaceholder {
  background-color: lightgray;
}

.add-item-button {
  cursor: pointer;
}

shopping-list ul.add-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-link-inline {
  padding: 0;
  vertical-align: inherit;
  font-size: inherit;
}

// fix for dropdown menu being under sticky elements
.dropdown-menu {
  z-index: 2000;
}